/*-------------------- CSS RESET ---------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* -------------------- ROOT VARIABLES --------------------------------------- */
:root {
    --green: #007d7b;
    --black: #000000;
    --white: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}
/* --------------------GLOBAL STYLES (mobile first/small) --------------------*/
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: var(--black);
}
.container {
    background-color: var(--black);
    margin: 20px auto;
    padding: 20px;
    max-width: 1200px;
}
section {
    background-color: var(--white);
    margin: 20px 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    background: var(--white);
    color: var(--green);
    padding: 0;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}
.header-content {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: auto;
    }
nav {
    background: var(--black);
    color: var(--white);
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
nav ul {
    display: flex; 
    padding: 0; 
}

nav li {
    margin: 0 15px; 
}
nav a {
    color: var(--white);
    text-decoration: none;
    padding: 10px 20px;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}
nav a:hover {
    background: var(--green);
}
.about h2 {
    text-align: center;
    margin: 20px 0;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.gallery h2 {
    text-align: center;
    margin: 20px 0;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.about-gallery{
    background-color: var(--white);
    margin: 20px auto;
    padding: 20px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    margin: 0;
    padding: 0;
    width: 100%;
}
figure {
    position: relative;
    margin: 0;
    display: flex;
    flex-direction: column;
}
img {
    width: 100%;
    height: auto;
}
h1 {
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}
p {
    font-size: 1.25em;
    font-family: Arial, Helvetica, sans-serif;

}
figure {
    margin: 15px;
    display: inline-block;
    width: auto;
    vertical-align: top;
}
figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: var(--white);
    padding: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.caption-top-center-white {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    color: var(--white);
    text-align: center;
}
.caption-top-center {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    color:var(--black);
    text-align: center;
}
.caption-bottom-center {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: var(--black);
    padding: 10px;
    text-align: center;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}
figcaption, label, input, small {
    font-size: 1em;
}
form {
    margin-top: 20px;
}
input, textarea, button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}
button {
    color:var(--white);
    cursor: pointer;
}
#contact {
    text-align:left;
    margin: 20px auto;
    width: 90%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--black);
    color: var(--white);
}
#contact form {
    display: inline-block;
    width: 100%;
    max-width: 400px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#contact input::placeholder, #contact textarea::placeholder {
    color: var(--green);
    font-weight: bold;
}
#contact button {
    background-color: var(--green);
    color: var(--white);
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
}
#contact button:hover {
    background-color: darkgreen;
}
footer {
    text-align: center;
    padding: 10px;
    background: var(--black);
    color: var(--white);
    position: relative;
    bottom: 0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
/*-------------------- MEDIA QUERY (medium) --------------------------------*/
@media (min-width: 485px) {
    .grid {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
/*------------- MEDIA QUERY (large) ------------------------------------*/
@media (min-width: 888px) { 
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        grid-gap: 15px;
    }
}
/*-------------------- MEDIA QUERY (xl) ---------------------------------------*/
@media (min-width: 1300px){
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: right;
        grid-gap: 15px;
    }
}